.animation *, .animation2 *, .animation3 *{
    font-family: Roboto;
    margin: 0;
    margin-top: 10px;
    position: relative;
    top: 0;
    left: 0;
}

/* starting points for all animating components */
.animation div * {
    top: -20;
    opacity: 0;;
}

.animation #button{
    box-shadow:inset 0px -3px 7px 0px red;
	background:linear-gradient(to bottom, red 5%, rgb(184, 1, 1) 100%);
	background-color:red;
	border-radius:8px;
	display:inline-block;
    cursor:pointer;
    font-weight: bold;
    font-variant: small-caps;
	color:#ffffff;
	font-size:1.2em;
	padding:8px 10px;
    text-shadow:0px 1px 0px #263666;
    margin-bottom: 10px;
}

.white-text{
    color: white;
    text-shadow: 2px 2px 3px black;
}

.animation #header {
    margin-bottom: 6px;
}

.animation #subtitle {
    margin-bottom: 18px;
}

.animation #logo {
    width: 250px;
    box-shadow: 2px 2px 5px darkgray;
}

.animation2 #heart{
    width: 200px
}

/* starting points for all animating components */
.animation2 #heart, .animation2 #give  {
    opacity: 0;
    left: -1000px;
}

.animation2 #take{
    opacity: 0;
    left: 2000px;
}

/* starting points for all animating components  */
.animation3 div #choose{
    opacity: 0;
    margin-bottom: 35px;
}

.animation3 div .card-holder{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.animation3 div .card{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20%;
    background-size: cover;
    box-shadow: 3px 3px 8px black;
}

.animation3 div #card1{
    z-index: 5;
    left: 49%;
    transform: rotate(15deg) translate(-50%, -50%);
}

.animation3 div #card2{
    z-index: 4;
    left: 51%;
    transform: rotate(-15deg) translate(-50%, -50%);
}

.animation3 div #card3{
    z-index: 3;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
}

.animation3 div #heart2{
    opacity: 0;
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.foreground{
    position: relative;
    height: 500px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.foreground div{
    text-align: center;
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}