@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body .fc{
    font-family: Roboto;
    background-color: white;
    padding: 5px
}

.fc th {
    background-color: red;
    color: white
}

.fc-toolbar h2 {
    font-size: 1.5em;
    margin: 0;
    font-weight: normal;
  }

.fc-button-primary {
    background-color: red;
    border: none;
}

.fc-button-primary:hover {
    background-color: #FE8282;
}

.fc-button-primary:disabled {
    background-color: #c9c9c9;
    cursor: default;
}

.fc-event,
.fc-event-dot {
  background-color: #c9c9c9;
  border: none;
  cursor: pointer;
  text-shadow: 1px 1px 1px darkgrey;
}

.fc-event:hover {
    background-color: #FE8282;
    text-shadow: 1px 1px 1px #444444;
}
  
.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  background-color: #FE8282;
  border-color: #151e27;
}
